services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=database_1'
      - 'POSTGRES_PASSWORD=1234'
      - 'POSTGRES_USER=admin'
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql
  redis:
    image: redis:8.4-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

volumes:
  redis_data:
  postgres_data: