server:
  port: 8080

spring:
  application:
    name: gateway

  cloud:
    gateway:
      server:
        webflux:
          routes[0]:
            id:
              "write-votes"
            uri:
              http://write-votes-service:8081
            predicates:
              - Path=/api/v1/write-votes/create-vote
            filters:
              - name: JwtAuth
          routes[1]:
            id:
              "read-votes"
            uri:
              http://read-votes-service:8082
            predicates:
              - Path=/api/v1/read-votes/**
            filters:
              - name: JwtAuth
          routes[2]:
            id:
              "auth"
            uri:
              http://auth-service:8083
            predicates:
              - Path=/api/v1/auth/**
  config:
    import: classpath:secret.yaml