server:
  port: 8080

spring:
  application:
    name: gateway

  cloud:
    gateway:
      server:
        webflux:
          routes[0]:
            id:
              "write-votes"
            uri:
              http://localhost:8081
            predicates:
              - Path:/**
            filters:
              - JwtAuth
          routes[1]:
            id:
              "read-votes"
            uri:
              http://localhost:8082
            predicates:
              - Path:/**
            filters:
              - JwtAuth
          routes[2]:
            id:
              "auth"
            uri:
              http://auth-service:8083
            predicates:
              - Path:/**
  config:
    import: classpath:secret.yaml
