spring:
  application:
    name:
      auth
  jpa:
    database: postgresql
    show-sql: true
    hibernate:
      ddl-auto: update
  sql:
    init:
      platform: postgres
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://postgres-auth:5432/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  flyway:
    url: jdbc:postgresql://postgres-auth:5432/${POSTGRES_DB}
    locations: classpath:db/migration
    user: ${spring.datasource.username}
    password: ${spring.datasource.password}
  config:
    import: classpath:secret.yaml

server:
  port:
    8083

jwt:
  accessTokenExpiration:
    900000
  refreshTokenExpiration:
    560000000

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true